
  .gallery .image {
    width: 100%;
    height: 40rem;
  }

  .gallery .group .span-0-25 {
    width: 8.33333%;
  }

  .gallery .group .span-0-5 {
    width: 16.66666%;
  }

  .gallery .group .span-0-75 {
    width: 25%;
  }

  .gallery .group .span-1 {
    width: 33.33333%;
  }

  .gallery .group .span-1-25 {
    width: 41.66666%;
  }

  .gallery .group .span-1-5 {
    width: 49.99999%;
  }

  .gallery .group .span-1-75 {
    width: 58.33333%;
  }

  .gallery .group .span-2 {
    width: 66.66666%;
  }

  .gallery .group .span-2-25 {
    width: 74.99999%;
  }

  .gallery .group .span-2-5 {
    width: 83.33332%;
  }

  .gallery .group .span-2-75 {
    width: 91.66666%;
  }

  .gallery .group .span-3 {
    width: 99.99999%;
  }

  .gallery .group .span-3-25 {
    width: 108.33332%;
  }

  .gallery .group .span-3-5 {
    width: 116.66665%;
  }

  .gallery .group .span-3-75 {
    width: 124.99999%;
  }

  .gallery .group .span-4 {
    width: 133.33332%;
  }

  .gallery .group .span-4-25 {
    width: 141.66665%;
  }

  .gallery .group .span-4-5 {
    width: 149.99998%;
  }

  .gallery .group .span-4-75 {
    width: 158.33332%;
  }

  .gallery .group .span-5 {
    width: 166.66665%;
  }

  .gallery .group .span-5-25 {
    width: 174.99998%;
  }

  .gallery .group .span-5-5 {
    width: 183.33331%;
  }

  .gallery .group .span-5-75 {
    width: 191.66665%;
  }

  .gallery .group .span-6 {
    width: 199.99998%;
  }

  .gallery .group .span-6-25 {
    width: 208.33331%;
  }

  .gallery .group .span-6-5 {
    width: 216.66664%;
  }

  .gallery .group .span-6-75 {
    width: 224.99998%;
  }

  .gallery .group .span-7 {
    width: 233.33331%;
  }

  .gallery .group .span-7-25 {
    width: 241.66664%;
  }

  .gallery .group .span-7-5 {
    width: 249.99997%;
  }

  .gallery .group .span-7-75 {
    width: 258.33331%;
  }

  .gallery .group .span-8 {
    width: 266.66664%;
  }

  .gallery .group .span-8-25 {
    width: 274.99997%;
  }

  .gallery .group .span-8-5 {
    width: 283.3333%;
  }

  .gallery .group .span-8-75 {
    width: 291.66664%;
  }

  .gallery .group .span-9 {
    width: 299.99997%;
  }

  .gallery .group .span-9-25 {
    width: 308.3333%;
  }

  .gallery .group .span-9-5 {
    width: 316.66663%;
  }

  .gallery .group .span-9-75 {
    width: 324.99997%;
  }

  .gallery .group .span-10 {
    width: 333.3333%;
  }

  .gallery .group .image {
    height: 20rem;
  }

  .panel .span-0-25 {
    width: min(97,275%, 2.5rem - 7rem);
  }
  
  .panel .span-0-5 {
    width: min(97,275%, 5rem - 7rem);
  }
  
  .panel .span-0-5 {
    width: min(97,275%, 5rem - 7rem);
  }
  
  .panel .span-0-75 {
    width: min(97,275%, 7.5rem - 7rem);
  }
  
  .panel .span-1 {
    width: min(97,275%, 10rem - 7rem);
  }
  
  .panel .span-1-25 {
    width: min(97,275%, 12.5rem - 7rem);
  }
  
  .panel .span-1-5 {
    width: min(97,275%, 15rem - 7rem);
  }
  
  .panel .span-1-75 {
    width: min(97,275%, 17.5rem - 7rem);
  }
  
  .panel .span-2 {
    width: min(97,275%, 20rem - 7rem);
  }
  
  .panel .span-2-25 {
    width: min(97,275%, 22.5rem - 7rem);
  }
  
  .panel .span-2-5 {
    width: min(97,275%, 25rem - 7rem);
  }
  
  .panel .span-2-75 {
    width: min(97,275%, 27.5rem - 7rem);
  }
  
  .panel .span-3 {
    width: min(97,275%, 30rem - 7rem);
  }
  
  .panel .span-3-25 {
    width: min(97,275%, 32.5rem - 7rem);
  }
  
  .panel .span-3-5 {
    width: min(97,275%, 35rem - 7rem);
  }
  
  .panel .span-3-75 {
    width: min(97,275%, 37.5rem - 7rem);
  }
  
  .panel .span-4 {
    width: min(97,275%, 40rem - 7rem);
  }
  
  .panel .span-4-25 {
    width: min(97,275%, 42.5rem - 7rem);
  }
  
  .panel .span-4-5 {
    width: min(97,275%, 45rem - 7rem);
  }
  
  .panel .span-4-75 {
    width: min(97,275%, 47.5rem - 7rem);
  }
  
  .panel .span-5 {
    width: min(97,275%, 50rem - 7rem);
  }
  
  .panel .span-5-25 {
    width: min(97,275%, 52.5rem - 7rem);
  }
  
  .panel .span-5-5 {
    width: min(97,275%, 55rem - 7rem);
  }
  
  .panel .span-5-75 {
    width: min(97,275%, 57.5rem - 7rem);
  }
  
  .panel .span-6 {
    width: min(97,275%, 60rem - 7rem);
  }
  
  .panel .span-6-25 {
    width: min(97,275%, 62.5rem - 7rem);
  }
  
  .panel .span-6-5 {
    width: min(97,275%, 65rem - 7rem);
  }
  
  .panel .span-6-75 {
    width: min(97,275%, 67.5rem - 7rem);
  }
  
  .panel .span-7 {
    width: min(97,275%, 70rem - 7rem);
  }
  
  .panel .span-7-25 {
    width: min(97,275%, 72.5rem - 7rem);
  }
  
  .panel .span-7-5 {
    width: min(97,275%, 75rem - 7rem);
  }
  
  
  
  .panel .span-7-25 {
    width: min(97,275%, 72.5rem - 7rem);
  }
  
  .panel .span-7-5 {
    width: min(97,275%, 75rem - 7rem);
  }
  
  
  .panel .span-7-75 {
    width: min(97,275%, 80rem - 7rem);
  }
  
  .panel .span-8 {
    width: min(97,275%, 82.5rem - 7rem);
  }
  
  .panel .span-8-25 {
    width: min(97,275%, 85rem - 7rem);
  }
  
  .panel .span-8-5 {
    width: min(97,275%, 87.5rem - 7rem);
  }
  
  .panel .span-8-75 {
    width: min(97,275%, 90rem - 7rem);
  }
  
  .panel .span-9 {
    width: min(97,275%, 92.5rem - 7rem);
  }
  
  .panel .span-9-25 {
    width: min(97,275%, 95rem - 7rem);
  }
  
  .panel .span-9-5 {
    width: min(97,275%, 97.5rem - 7rem);
  }
  
  .panel .span-9-75 {
    width: min(97,275%, 100rem - 7rem);
  }
  
  .panel .span-10 {
    width: min(97,275%, 102.5rem - 7rem);
  }
  